<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Behat Fail Aid">
            <directory>./bootstrap</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <ini name="display_errors" value="On" />
    </php>
</phpunit>
